<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/img/logo.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><span class="active" href="index.html">home</span></li>
                                        <li><span href="about.html">About</span></li>
                                        <li><span href="track.html">tracks</span></li>
                                        <li><span href="#">blog <i class="fa fa-angle-down"></i></span>
                                            <ul class="submenu">
                                                <li><span class="submenu-span" href="blog.html">blog</span></li>
                                                <li><span class="submenu-span" href="single-blog.html">single-blog</span></li>
                                            </ul>
                                        </li>
                                        <li><span href="#">pages <i class="fa fa-angle-down"></i></span>
                                            <ul class="submenu">
                                                 <li><span class="submenu-span" href="elements.html">elements</span></li>
                                            </ul>
                                        </li>
                                        <li><span href="contact.html">Contact</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="social_icon text-right">
                                <ul>
                                    <li><span href="#"> <i class="fa fa-facebook"></i> </span></li>
                                    <li><span href="#"> <i class="fa fa-twitter"></i> </span></li>
                                    <li><span href="#"> <i class="fa fa-instagram"></i> </span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>MUSICIAN</h3>
                </div>
            </div>
        </div>
    </div>
</div>