.submenu-span{
    color: black;
}

.fa-angle-down{
    margin-left: 5px;
}

.fa-facebook, .fa-twitter, .fa-instagram{
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #41393A;
    font-size: 14px;
    margin-left: 6px;
}