<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="footer_widget">
                        <h3 class="footer_title">Services</h3>
                        <div class="subscribe-from">
                            <form action="#">
                                <input type="text" placeholder="Enter your mail">
                                <span routerLink="/" class="subscribe-from-button" type="submit" >Subscribe</span>
                            </form>
                        </div>
                        <p class="sub_text">Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
                    </div>
                </div>
                <div class="col-xl-5 col-md-5 offset-xl-1">
                    <div class="footer_widget">
                        <h3 class="footer_title">Contact Me</h3>
                        <ul>
                            <li><span routerLink="/">conbusi@support.com</span></li>
                            <li><span routerLink="/">+10 873 672 6782</span></li>
                            <li><span routerLink="/">600/D, Green road, Kings Garden NewYork-6732</span></li>
                        </ul>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="https://ru-ru.facebook.com/"><i class=" fa fa-facebook "></i></a>
                                </li>
                                <li>
                                    <a href="https://www.google.ru/"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-7 col-md-6">
                </div>
                <div class="col-xl-5 col-md-6">
                    <div class="footer_links">
                        <ul>
                            <li><span class="active" routerLink="/">Home</span></li>
                            <li><span routerLink="/about">About</span></li>
                            <li><span routerLink="/tracks">Tracks</span></li>
                            <li><span routerLink="/blog">Blog</span></li>
                            <li><span routerLink="/contact">Contact</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>