<div class="music_area music_gallery">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-65">
                    <h3>Latest Tracks</h3>
                </div>
            </div>
        </div>
    <div class="audio" class="row align-items-center justify-content-center mb-20" *ngFor="let item of data">
        <div class="col-xl-10">
            <div class="row align-items-center">
                <div class="col-xl-9 col-md-9">
                    <div class="music_field">
                        <div class="thumb">
                            <img class="img" src={{item.image}} alt="">
                        </div>
                        <div class="audio_name">
                            <div class="audio_name">
                                <div class="name">
                                    <h4>{{item.name}}</h4>
                                    <p>{{item.release}}</p>
                                </div>
                                <app-audio audioSrc ={{item.href}}></app-audio>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="music_btn">
                        <span routerLink="/" class="boxed-btn">buy albam</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="youtube_video_area">
    <div class="video">
        <iframe 
            width="480" 
            height="406" 
            src="https://www.youtube.com/embed/aTrjeeVHgIo" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </div>
    <div class="video">
        <iframe 
            width="480" 
            height="406" 
            src="https://www.youtube.com/embed/ps2jDCDGYzM" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </div>
    <div class="video">
        <iframe 
            width="480" 
            height="406" 
            src="https://www.youtube.com/embed/kq7vQMLH_Ow" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </div>
    <div class="video">
        <iframe 
            width="480" 
            height="406" 
            src="https://www.youtube.com/embed/T8PbP3dyaFk" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </div>
</div>