<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-md-6">
                <div class="about_thumb">
                    <img class="img-fluid" src="/assets/img/New folder/ab67616d0000b2735675e83f707f1d7271e5cf8a.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-md-6">
                <div class="about_info">
                    <h3>Imagine Dragons - Thunder</h3>
                    <p>«Thunder» — песня американской инди-рок-группы Imagine Dragons, ставшая вторым синглом из их третьего студийного альбома группы Evolve. 
                        Песня выпущена под лейблом Interscope Records. Она достигла 4-го места в американском Billboard Hot 100 и стала четвертым синглом группы в этой стране, 
                        вошедшим в десятку лучших. Он также вошел в топ-10 в Австралии, Австрии, Бельгии, Канаде, Германии, Италии, Новой Зеландии, Польше, Словакии, Словении, Швеции. 
                        Песня была номинирована на премию Грэмми за лучшее исполнение поп-дуэта/группы.</p>
                    <div class="signature">
                        <img src="/assets/img/about/signature.png" alt="">img/about/signature.png
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="singer_video">
    <iframe width="920" height="522" src="https://www.youtube.com/embed/fKopy74weus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="gallery_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-65">
                    <h3>Image Galleries</h3>
                </div>
            </div>
        </div>
        <div class="row grid">
            <div class="col-xl-5 col-lg-5 grid-item cat1 col-md-6">
                <div class="single-gallery mb-30">
                    <div class="portfolio-img">
                        <img src="/assets/img/gallery/1.png" alt="">
                    </div>
                    <div class="gallery_hover">
                        <span  class="popup-image"  href="img/gallery/1.png" class="hover_inner"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 grid-item cat3 cat4 col-md-6">
                <div class="single-gallery mb-30">
                    <div class="portfolio-img">
                        <img src="/assets/img/gallery/2.png" alt="">
                    </div>
                <div class="gallery_hover">
                    <span class="popup-image" href="img/gallery/2.png" class="hover_inner"></span>
                </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 grid-item cat4 col-md-6">
        <div class="single-gallery mb-30">
            <div class="portfolio-img">
                <img src="/assets/img/gallery/3.png" alt="">
            </div>
            <div class="gallery_hover">
                <span class="popup-image" href="img/gallery/3.png" class="hover_inner"></span>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 grid-item cat2 col-md-6">
        <div class="single-gallery mb-30">
            <div class="portfolio-img">
                <img src="/assets/img/gallery/4.png" alt="">
            </div>
            <div class="gallery_hover">
                <span class="popup-image" href="img/gallery/4.png" class="hover_inner"></span>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 grid-item cat2 col-md-6">
        <div class="single-gallery mb-30">
            <div class="portfolio-img">
                <img src="/assets/img/gallery/5.png" alt="">
            </div>
            <div class="gallery_hover">
                <span class="popup-image" href="img/gallery/5.png" class="hover_inner"></span>
            </div>
        </div>
    </div>
</div>