<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-md-6">
                <div class="about_thumb">
                    <img class="img-fluid" src="/assets/img/New folder/QjH6zyYEe2UpQ0iof9j2w.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-md-6">
                <div class="about_info">
                    <h3>Emerging Dragon</h3>
                    <p>
                        American pop rock band formed in 2008 in Las Vegas, USA. They became famous after the release of 
                        their debut studio album Night Visions in September 2012. American Billboard magazine named them the 
                        brightest new stars of 2013 and the biggest band of 2017, and Rolling Stone magazine named their single 
                        "Radioactive" the biggest rock hit of the year.
                    </p>
                    <div class="signature"><img src="/assets/img/about/signature.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="youtube_video_area">
    <div class="video">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/aTrjeeVHgIo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/ps2jDCDGYzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/kq7vQMLH_Ow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/T8PbP3dyaFk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>